<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/static/favicon.ico">
	<!--<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Ubuntu" rel="stylesheet"> not used yet-->
	<title>{block name=title}PiWeather{/block}</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="/static/style.css" rel="stylesheet">

</head>

<body>

	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
		<a class="navbar-brand" href="/">RPi Weather Station</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item{if $page == 'index'} active{/if}">
				<a class="nav-link" href="/">Home{if $page == 'index'} <span class="sr-only">(current)</span>{/if}</a>
			</li>
			<li class="nav-item{if $page == 'exports'} active{/if}">
				<a class="nav-link" href="/exports">Exports{if $page == 'exports'} <span class="sr-only">(current)</span>{/if}</a>
			</li>
		</ul>
	</nav>
	
	{block name=body}{/block}
	
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Source code on <a href="https://github.com/comp500/sensor-website">GitHub</a>{if isset($commitHash)}<br>Running git commit <a href="https://github.com/comp500/sensor-website/commit/{$commitHash}">{$commitHash}</a>{/if}</p>
		</div>
	</footer>
	
	{block name=js}{/block}
</body>

</html>