body {
  padding-top: 5rem;
}
.base {
  padding: 3rem 1.5rem;
  text-align: center;
}
   
 canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
#center {
    text-align: center  
}
.alert-warning {
  background-color: #FF9800;
  color: #373a3c;
  border: 0px;
  border-radius:0px;
}
