.base {
	padding: 3rem 1.5rem;
	text-align: center;
}

.alert {
	border-radius: 0;
	border: 0;
}
.alert-success { 
	background-color: #18bc9c;
	color: #ffffff
}
.alert-warning { 
	background-color: #f39c12;
	color: #ffffff
}
.alert-danger { 
	background-color: #e74c3c;
	color: #ffffff
}
.alert-info { 
	background-color: #3498db;
	color: #ffffff
}


.footer {
	width: 100%;
	background-color: #f5f5f5;
	padding-top: 20px;
	padding-bottom: 20px;
}

.graph-container {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.small-unit {
	font-size: 0.5em;
}

.card {
	margin-bottom: 30px;
}
